@model sistemaDual.Models.CatalagoProyecto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CatalagoProyecto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Etapa" class="control-label"></label>
                <input asp-for="Etapa" class="form-control" />
                <span asp-validation-for="Etapa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaConocimiento" class="control-label"></label>
                <input asp-for="AreaConocimiento" class="form-control" />
                <span asp-validation-for="AreaConocimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumHoras" class="control-label"></label>
                <input asp-for="NumHoras" class="form-control" />
                <span asp-validation-for="NumHoras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaTermino" class="control-label"></label>
                <input asp-for="FechaTermino" class="form-control" />
                <span asp-validation-for="FechaTermino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estatus" class="control-label"></label>
                <input asp-for="Estatus" class="form-control" />
                <span asp-validation-for="Estatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCambioEstatus" class="control-label"></label>
                <input asp-for="FechaCambioEstatus" class="form-control" />
                <span asp-validation-for="FechaCambioEstatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlumnoDualID" class="control-label"></label>
                <select asp-for="AlumnoDualID" class ="form-control" asp-items="ViewBag.AlumnoDualID"></select>
            </div>
            <div class="form-group">
                <label asp-for="EmpresaID" class="control-label"></label>
                <select asp-for="EmpresaID" class ="form-control" asp-items="ViewBag.EmpresaID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
