@{
    ViewData["Title"] = "NuevoProyecto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos{
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet">

    <style>
        .select2{
            width: 100% !important;
        }
    </style>
}

<div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 bg-second-primary">
                            <h6 class="m-0 font-weight-bold text-white">Información del proyecto</h6>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <input type="text" class="form-control form-control-sm" id="txtNombreProyecto" placeholder="Nombre del Proyecto" >
                                </div>
                                <div class="form-group col-sm-6">
                                    <input type="text" class="form-control form-control-sm" id="txtEtapa" placeholder="Etapa">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <input type="text" class="form-control form-control-sm" id="txtAreaConocimiento" placeholder="Area de Conocimiento">
                                </div>
                                <div class="form-group col-sm-6">
                                    <input type="text" class="form-control form-control-sm" id="txtNumeroHoras" placeholder="Número de Horas">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtFechaInicio">Fecha de Inicio</label>
                                    <input type="date" class="form-control form-control-sm" id="txtFechaInicio" placeholder="Fecha Inicio">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtFechaTermino">Fecha de Termino</label>
                                    <input type="date" class="form-control form-control-sm" id="txtFechaTermino" placeholder="Fecha Termino">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 bg-second-primary">
                            <h6 class="m-0 font-weight-bold text-white">Estudiante</h6>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                               <div class="form-group col-sm-12">
                                    <select class="form-control form-control-sm" id="cboBuscarEstudiante">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-striped table-sm" id="tbEstudiante">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>CURP</th>
                                                <th>Nombre</th>
                                                <th>Telefono</th>
                                                <th>EsActivo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 bg-second-primary">
                            <h6 class="m-0 font-weight-bold text-white">Unidad Económica</h6>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-sm-12">
                                    <select class="form-control form-control-sm" id="cboBuscarEmpresa">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-striped table-sm" id="tbEmpresa">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Sector Social</th>
                                                <th>Nombre Comercial</th>
                                                <th>Razon Social</th>
                                                <th>Representante Legal</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-4">

            <div class="row">
                <div class="col-sm-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 bg-second-primary">
                            <h6 class="m-0 font-weight-bold text-white">Detalles del proyecto</h6>
                        </div>
                        <div class="card-body">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="cboProgramaE">Programa Educativo</label>
                                </div>
                                <select class="custom-select" id="cboProgramaE">
                                </select>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="cboAsesorI">Asesor Institucional</label>
                                </div>
                                <select class="custom-select" id="cboAsesorI">
                                </select>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="cboResponsableI">Responsable Institucional</label>
                                </div>
                                <select class="custom-select" id="cboResponsableI">
                                </select>
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="form-group mb-0">
                                <button class="btn btn-success btn-sm btn-block" id="btnAsignarProyecto">Asignar Proyecto</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                         
@section Scripts {
    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/vendor/select2/es.min.js"></script>


    <script src="~/js/vistas/Nuevo_Proyecto.js"></script>
                    
}
                    
