@{
    ViewData["Title"] = "Asignaturas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos{
    <!-- ============================================================
    =ESTILOS PARA ESTA PAGINA
    ===============================================================-->
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">
}

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-second-primary">
            <h6 class="m-0 font-weight-bold text-white">Lista de Mentores Academicos</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <button class="btn btn-success" id="btnNuevo"><i class="fas fa-user-plus"></i> Nuevo Mentor</button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered" id="tbdata" cellspacing="0" style="width:100%">
                        <thead>
                            <tr>
                                <th>
                                    AsignaturaID
                                </th>
                                <th>
                                    NombreAsignatura
                                </th>
                                <th>
                                    Periodo
                                </th>
                                <th>
                                    Competencia
                                </th>
                                <th>
                                    Actividad 
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--  Modal-->
    <div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6>Detalles del Mentor</h6>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" value="0" id="txtAsignaturaID">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-row">
                                    <div class="form-group col-sm-6">
                                        <label for="txtNombreAsignatura">NombreAsignatura</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtNombreAsignatura" name="NombreAsignatura">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="txtPeriodo">Periodo</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtPeriodo" name="Periodo">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-6">
                                        <label for="txtCompetencia">Competencia</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtCompetencia" name="Competencia">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="txtActividad">Actividad</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtActividad" name="Actividad">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" type="button" id="btnGuardar">Guardar</button>
                    <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>



    @section Scripts{
    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>

    <!-- VistaJS -->
    <script src="~/js/vistas/Asignaturas_Index.js"></script>
}