@model sistemaDual.Models.ViewModels.EmpresaViewModel

@{
    ViewData["Title"] = "Registrar Empresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3 bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white">Datos del Negocio</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <form asp-action="Create">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label asp-for="EmpresaID" class="control-label"></label>
                                    <input asp-for="EmpresaID" class="form-control" />
                                    <span asp-validation-for="EmpresaID" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label asp-for="RazonS" class="control-label"></label>
                                    <input asp-for="RazonS" class="form-control" />
                                    <span asp-validation-for="RazonS" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label asp-for="NombreC" class="control-label"></label>
                                    <input asp-for="NombreC" class="form-control" />
                                    <span asp-validation-for="NombreC" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label asp-for="SectorS" class="control-label"></label>
                                    <input asp-for="SectorS" class="form-control" />
                                    <span asp-validation-for="SectorS" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label asp-for="RepresentanteL" class="control-label"></label>
                                    <input asp-for="RepresentanteL" class="form-control" />
                                    <span asp-validation-for="RepresentanteL" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label asp-for="CorreoR" class="control-label"></label>
                                    <input asp-for="CorreoR" class="form-control" />
                                    <span asp-validation-for="CorreoR" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label asp-for="Direccion" class="control-label"></label>
                                    <input asp-for="Direccion" class="form-control" />
                                    <span asp-validation-for="Direccion" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label asp-for="Colonia" class="control-label"></label>
                                    <input asp-for="Colonia" class="form-control" />
                                    <span asp-validation-for="Colonia" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label asp-for="Municipio" class="control-label"></label>
                                    <input asp-for="Municipio" class="form-control" />
                                    <span asp-validation-for="Municipio" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label asp-for="CodigoPostal" class="control-label"></label>
                                    <input asp-for="CodigoPostal" class="form-control" />
                                    <span asp-validation-for="CodigoPostal" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <img id="imgLogo" style="max-width:200px;" src="https://images.unsplash.com/photo-1640271443625-3276ed8f62b5?w=300" class="rounded" alt="Logo">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button class="btn btn-success btn-sm" type="submit" value="Create" id="btnGuardarCambios">Guardar Empresa</button>
                                </div>
                            </div>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
