@using sistemaDual.Models.ViewModels
@model UniversidadViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Universidad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UniversidadID" class="control-label"></label>
                <input asp-for="UniversidadID" class="form-control" />
                <span asp-validation-for="UniversidadID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreU" class="control-label"></label>
                <input asp-for="NombreU" class="form-control" />
                <span asp-validation-for="NombreU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DomicilioID" class="control-label"></label>
                <select asp-for="DomicilioID" class="form-select" asp-items="ViewBag.DomicilioID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
