
@{
    ViewData["Title"] = "Universidades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
                        <div class="card-header py-3 bg-second-primary">
                            <h6 class="m-0 font-weight-bold text-white">Datos de la Universidad</h6>
                        </div>
                        <div class="card-body">
                            
                            <div class="row">
                                <div class="col-sm-12">
                                    <form>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-row">
                                                        <div class="form-group col-sm-6">
                                                            <label for="txtCct">CCT</label>
                                                            <input type="text" class="form-control form-control-sm input-validar" id="txtCct" name="Cct" disabled>
                                                        </div>
                                                        <div class="form-group col-sm-6">
                                                            <label for="txtNombreU">Nombre de la Universidad</label>
                                                            <input type="text" class="form-control form-control-sm input-validar" id="txtNombreU" name="NombreU" disabled>
                                                        </div>
                                                </div>
                                                <div class="form-row">
                                                        <div class="form-group col-sm-6">
                                                            <label for="txtDireccion">Direccion</label>
                                                            <input type="text" class="form-control form-control-sm input-validar" id="txtDireccion" name="Direccion" disabled>
                                                        </div>
                                                        <div class="form-group col-sm-6">
                                                            <label for="txtColonia">Colonia</label>
                                                            <input type="text" class="form-control form-control-sm input-validar" id="txtColonia" name="Colonia" disabled>
                                                        </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtMunicipio">Municipio</label>
                                                        <input type="text" class="form-control form-control-sm input-validar" id="txtMunicipio" name="Municipio" disabled>
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtCodigoPostal">CódigoPostal</label>
                                                        <input type="text" class="form-control form-control-sm input-validar" id="txtCodigoPostal" name="CodigoPostal" disabled>
                                                    </div>
                                                </div>
                                            </div>
    
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
   
                      



    @section Scripts{

    <!-- Vistas JS -->
    <script src="~/js/vistas/Universidades_Index.js"></script>
}


