@{
    ViewData["Title"] = "AsesorInstitucional";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
                        <div class="card-header py-3 bg-second-primary">
                            <h6 class="m-0 font-weight-bold text-white">Datos del Negocio</h6>
                        </div>
                        <div class="card-body">
                            
                            <div class="row">
                                <div class="col-sm-12">
                                    <form>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-row">
                                                        <div class="form-group col-sm-6">
                                                            <label for="txtCurp">CURP</label>
                                                            <input type="text" class="form-control form-control-sm input-validar" id="txtCurp" name="Curp">
                                                        </div>
                                                        <div class="form-group col-sm-6">
                                                            <label for="txtNombreA">Nombre del Asesor</label>
                                                            <input type="text" class="form-control form-control-sm input-validar" id="txtNombreA" name="NombreA">
                                                        </div>
                                                </div>
                                                <div class="form-row">
                                                        <div class="form-group col-sm-6">
                                                            <label for="txtApellidoP">ApellidoP</label>
                                                            <input type="text" class="form-control form-control-sm input-validar" id="txtApellidoP" name="ApellidoP">
                                                        </div>
                                                        <div class="form-group col-sm-6">
                                                            <label for="txtApellidoM">ApellidoM</label>
                                                            <input type="text" class="form-control form-control-sm input-validar" id="txtApellidoM" name="ApellidoM">
                                                        </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtCorreo">Correo</label>
                                                        <input type="text" class="form-control form-control-sm input-validar" id="txtCorreo" name="Correo">
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtTelefono">CódigoPostal</label>
                                                        <input type="text" class="form-control form-control-sm input-validar" id="txtTelefono" name="Telefono">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-sm-6">
                                                         <label for="cboPrograma">ProgramaEducativo</label>
                                                         <select class="form-control form-control-sm" id="cboPrograma">
                                                         </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <button class="btn btn-success btn-sm" type="button" id="btnGuardarCambios">Guardar Cambios</button>
                                                    </div>
                                                </div>
                                                
                                            </div>
    
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
@section Scripts{

    <!-- Vistas JS -->
    <script src="~/js/vistas/AsesorInstitucional_Index.js"></script>
}
